#

[Unit]
Description=CPS API Service
Wants=system.slice

[Service]
ExecStart=/opt/ngos/bin/cps_api_service
Restart=always
RestartSec=0

# Increase the default a bit in order to allow many simultaneous
# logins since we keep one fd open per session.
LimitNOFILE=16384

[Install]
WantedBy=network-pre.target

